{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "camelcase": [
      "error",
      {
        "allow": [
          "^R_"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-props-no-spreading": 0
  }
}